/*******************************/
/* General styles              */

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  font: 16px 'Roboto', sans-serif;
}

h1 {
  font: 400 2.5em/1.2em 'Maven Pro', sans-serif;
  color: #1199c3;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.225em;
  color: #444;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.1em;
  color: #000;
}

h4 {
  font-weight: bold;
  font-size: 0.875em;
  line-height: 1em;
  color: #4a4a4a;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;
}

p {
  font-size: 1em;
  line-height: 21px;
  color: #333;
}

span {
  padding: 5px;
}

a {
  color: #167ac6;
  text-decoration: none;
  margin: 10px 0 0;
  display: block;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.clear-fix {
  overflow: auto;
}

.center-text {
  text-align: center;
}

.section {
  padding: 20px 0 40px 0;
}

.dark-gray {
  background-color: #c8c8c8;
}

.gray {
  background-color: #f3f3f3;
  clear: both;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  color: #999;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  color: #999;
  float: right;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
  margin: 2em 0;
}

.education-entry:first-of-type,
.work-entry:first-of-type,
.project-entry:first-of-type {
  margin-top: 0;
}

h3+.education-entry {
  /* element(s) with .education-entry following h3 */
  margin-top: 0;
}

.work-entry:last-of-type,
.project-entry:last-of-type {
  margin-bottom: 0;
}

/*******************************/
/* Header                      */

.center-content {
  padding: 2.5% 5%;
}

.header-title {
  display: flex;
  align-items: baseline;
}

.header-lead {
  font-family: 'Maven Pro', sans-serif;
}

.welcome-message {
  font: italic 18px/28px 'Maven Pro', sans-serif;
  color: #444;
  text-align: right;
  flex: 2;
}

.contacts-link {
  display: inline;
  color: #555;
}

#topContacts {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  margin: 1em 0 2em;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  border-radius: 50%;
}

#skills-h3 {
  font-family: 'Maven Pro', sans-serif;
}

.skills-logo {
  width: 50px;
}

.logo-container {
  margin: 2em 0;
}

.blue-text {
  color: #1199c3;
}

.gray-text {
  color: #555;
}


/*******************************/
/* BubbleChart styles          */

.bubbleChart {
  min-width: 100px;
  max-width: 960px;
  height: 600px;
  margin: 0 auto;
}

.bubbleChart svg {
  background: #f3f3f3;
}


/*******************************/
/* Projects section            */

.project-snapshot {
  border: 1px solid #eee;
  margin: 2em 1em 0 0;
  max-width: 100%;
}


/*******************************/
/* Google Map section          */

#map {
  display: block;
  height: calc(100% - 49px);
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
}


/*******************************/
/* Let's connect footer        */

.blue {
  background-color: #1199c3;
}


/*******************************/
/* Flexbox styles              */
.flex-contacts,
.flex-skills,
.flex-projects {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.flex-logo {
  text-align: center;
  width: 14.285%;
}

/*************************************************/
/* Media queries to handle various device widths */

@media only screen and (max-width: 1100px) {
  .flex-contact {
    width: 50%;
  }

  .blue-text {
    padding: 0 0 0 20%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  .biopic {
    width: 150px;
  }

  .welcome-message {
    display: none;
  }

  .flex-contact {
    width: 100%;
    text-align: center;
  }

  .blue-text {
    padding: 0;
  }

  #skills-h3,
  .biopic {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .flex-logo {
    width: 25%;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 2em;
  }
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 14px;
  }

  .bubbleChart {
    height: 400px;
  }

  .project-snapshot {
    margin-right: 0;
  }
}


/* Limit viewport to no more than 1200px width */
@media only screen and (min-width: 1200px) {
  #main {
    width: 1200px;
    margin: 0 auto;
  }
}
